<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--mission :
studySpringboot0002로 controller로 이동하는 것이 아닌
studySpringboot0001의 controller로 이동하도록 아래 코드를 완성하시오
action="/account" : path영역
action="???/account" : ??? = ip/port영역
-->
<div style="
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
">
    <div style="
    height: 100%;
    width: 30%;
    background-color: azure;
    ">
        <div>
        <form action="/search" method="post">
            <p><input th:type="text" name="search"></p>
            <button>검색하기</button>
        </form>
        </div>
    </div>
</div>

<!--<div>
a태그로 경로 이동하는 href를 활용하여,
server1의 그래프를 출력하는 링크 2개를 연결하시오 (server1의 @Controller활용)
?KEY=VALUE&KEY=VALUE : key value값을 server1의 controller 전달을 활용하시오
-->

<!--
github clone을 진행하시오 :
오전에 배운 git 명령어 중 git clone URL을 사용하여 본 studySpringboot0002 프로젝트를 다운받아 실행하시오
URL : https://github.com/cleancode-study/projectCovid19Server2
-->



</body>
</html>