<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
action : controller 도착 위치 (mapping)
method : @GetMapping과 @PostMapping 구분하는 전달 방식
button 클릭 시 form tag안에 있는 모든 데이터를 서버에 전달
-->
  <form action="insertAccount" method="get">
    id : <input type="text" name="id">
    pw : <input type="text" name="pw">
    email : <input type="text" name="email">
    name : <input type="text" name="name">
    <button>회원가입</button>
  </form>

<!--
    each : 타임리프의 반복문(for)
    tr : 세로줄
    th : table header : 컬럼
    td : table body : 튜플(mysql의 데이터 한 단위)
-->
    <table>
        <tr>
            <th>id</th>
            <th>pw</th>
            <th>email</th>
            <th>name</th>
        </tr>
<!--        each : 배열의 갯수에 따라 생성
            item : ${accountList} = (하나의 인스턴스 : ${배열명})
            배열로 Model에서 받으면, each 반복문으로 하나씩(하나의 인스턴스) 꺼내서 출력
-->
        <tr th:each="item : ${accountList}">
            <td th:text="${item.getId()}"></td>
            <td th:text="${item.getPw()}"></td>
            <td th:text="${item.getEmail()}"></td>
            <td th:text="${item.getName()}"></td>
        </tr>
    </table>
</body>
</html>