<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div><h1>hello</h1></div>

  <table>
      <tr>
          <td th:text="${rps}"></td>
          <td th:text="${req}"></td>
      </tr>
  </table>
<!--
<> : 꺽쇠 : tag표현 : dom의 node를 구성하는 제목
action : controller에 메서드와 연결을 해주는 문자열(@GetMapping..) : submit버튼을 눌렀을 경우 이동하는 목적지
method : mapping으로 연결하는 데이터 전달 타입
----http 프로토콜에서 데이터를 전달하는 방법이 post, get
----get : url주소로 string문자열 데이터를 전송하는 방법
----post : body에 데이터를 담아서 전송하는 방법
= form tag의 목적지는 /hello 이고, 전달하는 방법은 get방식

<input> : 문자열 데이터를 받아서 전달
----type : 데이터의 타입 지정 : text = string // submit은 클릭시 form의 action 목적지로 이동하는 속성
----name : 서버에서 데이터를 받을 때 key값
-->
    <form action="/hello" method="get">
        이름 : <input type="text" name="test">
        <input type="submit" value="전송">
    </form>
</body>
</html>