<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/graph0012.css">
</head>
<body>
<div class="container_core">


<div class="container">
    <table>
        <thead>
        <tr>
            <th>목록</th>
            <th>내용</th>
            <th>기타</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
        </tbody>
    </table>
</div>
    <div class="item">12</div>
</div>

<!--<div class="container_outer">-->
<!--<div class="container_core">-->
<!--  <div class="container_inner">-->
<!--      <div class="item">[[${text1}]]</div>-->
<!--      <div class="item">[[${text2}]]</div>-->
<!--      <div class="item">[[${text3}]]</div>-->
<!--  </div>-->
<!--  <div class="item">2</div>-->
<!--  <div class="item">3</div>-->
<!--  <div class="item">4</div>-->
<!--  <div class="item">5</div>-->
<!--  <div class="item">6</div>-->
<!--</div>-->
<!--</div>-->


</body>
</html>