<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<!--header area-->
<div class="ssg_header_mini">
    <div class="ssg_header_inner">
        <div class="ssg_gnb_main">
            <h1 class="ssg_gnb_logo">
                <a href="http://localhost:8080/" class="ssg_logo_link clickable">MyHome</a>
            </h1>
            <div class="ssg_gnb_search">
                <a href="http://localhost:8080/listPortfolio" class="ssg_logo_link clickable">
                    InsertPage
                </a>
            </div>
            <div class="ssg_gnb_search">
                <a href="http://localhost:8080/insertPortfolio" class="ssg_logo_link clickable">
                    ListPage
                </a>
            </div>
        </div>

        <div class="gnb_renew_menu">
            <ul>
                <li>
                    <a href="http://localhost:8080/login">
                        <img src="icon/account_signin.png" alt="로그인">
                    </a>
                </li>
                <li><a href="http://localhost:8080/insertAccount">
                    <img src="icon/account_signup.png" alt="회원가입">
                </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--main area-->
<div class="main_example" style="    display: grid;
    justify-content: center;">
<table border="1">
    <tr>
        <th>회사명</th>
        <th>1주당 가격</th>
        <th>남은 주식 갯수</th>
        <th>비고</th>
    </tr>
    <tr th:each="item : ${stock_list}">
        <td th:text="${item.value.getCompany_name()}"></td>
        <td th:text="${item.value.getOne_stock_money()}"></td>
        <td th:text="${item.value.getStock_count()}"></td>
        <td>
            <form action="/stock_buy" method="get">
                <input type="hidden" name="company_name" th:value="${item.value.getCompany_name()}">
                <input type="hidden" name="stock_buy_count" th:value="1">
                <button>1주 구매</button>
            </form>
            <form action="/stock_buy" method="get">
                <input type="hidden" name="company_name" th:value="${item.value.getCompany_name()}">
                <input type="hidden" name="stock_buy_count" th:value="3">
                <button>3주 구매</button>
            </form>
            <form action="/stock_buy" method="get">
                <input type="hidden" name="company_name" th:value="${item.value.getCompany_name()}">
                <input type="hidden" name="stock_buy_count" th:value="5">
                <button>5주 구매</button>
            </form>
        </td>
    </tr>


<!--
    1)
    button을 클릭하면 1씩 주식이 감소 합니다
    button 3개를 만들어서 1번 버튼을 누르면 1씩 감소,
    2번 버튼을 누르면 5씩 감소,
    3번 버튼을 누르면 10씩 감소하는 버튼들을 각각 만드시오 (삼성전자, 애플, 테슬라마다 3개의 버튼 필요)

    2) 1씩 감소할 때마다 1주당 가격(one_stock_money)이 1/100씩 증가하는 계산식을 만들고(메서드를 만들어 실행) 적용하시오
    ----int는 정수 나오므로 소수점을 고려해서 적용필요
-->
</table>
</div>
</body>
</html>