<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/insertPortfolio.css">
</head>
<body>
<div class="container_outer">
    <div class="container_core">
        <div class="container_inner">
            <form action="insertPortfolio" method="get">
                <input type="text" name="title">
                <input type="text" name="subject">
                <input type="text" name="category">
                <input type="text" name="date">
                <input type="text" name="link">
                <button>전송</button>
            </form>
        </div>
        <div class="container_inner">
            <table>
                <tr th:each="item : ${arr}">
                    <td th:text="${item.getTitle()}"></td>
                    <td th:text="${item.getSubject()}"></td>
                    <td th:text="${item.getCategory()}"></td>
                    <td th:text="${item.getDate()}"></td>
                    <td th:text="${item.getLink()}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>